<div class="jumbotron">
    <h1>MVC/AngularJS Demo</h1>
    <p class="lead">This application demonstrates the use of AngularJS as a mini-SPA (or Hybrid web application).
</p>
    <p><a href="https://github.com/bgoodearl" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p>The source code for this demonstration application can be found on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/bgoodearl/MVC5NgDemo" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Boston Code Camp</h2>
        <p>Boston Code Camp is held twice a year in the Greater Boston area.</p>
        <p><a class="btn btn-default" href="http://www.BostonCodeCamp.com" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something Else</h2>
        <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
         totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Lorem_ipsum#Latin_source" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>
